<div *ngIf="!isQuizFinished(); else finishedQuiz">
  <ng-container *ngIf="!isQuizStarted(); else questionsPage">
    <h1>Welcome to the start Page</h1>
    <button (click)="startQuiz()">Start Quiz</button>
  </ng-container>
</div>

<ng-template #questionsPage>
  <h2>Question {{ currentQuestionIndex + 1 }}:</h2>
  <p>{{ questions[currentQuestionIndex].question }}</p>
  <ul>
    <li
      *ngFor="let option of questions[currentQuestionIndex].options"
      (click)="selectAnswer(option)"
      [class.selected]="selectedAnswer === option"
    >
      {{ option }}
    </li>
  </ul>
  <button (click)="submitAnswer()" [disabled]="!selectedAnswer">Submit</button>
</ng-template>

<ng-template #finishedQuiz>
  <h2>Quiz Finished!</h2>
  <p>Your score is {{ score }}/{{ questions.length }}</p>
</ng-template>
