<div *ngIf="!isQuizFinished(); else finishedQuiz">
  <h2>Question {{ currentQuestionIndex + 1 }}:</h2>
  <p>{{ questions[currentQuestionIndex].question }}</p>
  <ul>
    <li
      *ngFor="let option of questions[currentQuestionIndex].options"
      (click)="selectAnswer(option)"
      [class.selected]="selectedAnswer === option"
    >
      {{ option }}
    </li>
  </ul>
  <button (click)="submitAnswer()" [disabled]="!selectedAnswer">Submit</button>
</div>

<ng-template #finishedQuiz>
  <h2>Quiz Finished!</h2>
  <p>Your score is {{ score }}/{{ questions.length }}</p>
</ng-template>
